*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  overscroll-behavior: none;
}

input, textarea, button { font-family: inherit; }

::-webkit-scrollbar { width: 0; height: 0; }
